html {
    scroll-behavior: smooth;
}

/* body {
    background-color: #222222;
    font-family: 'Open Sans', sans-serif;
    color: #666;
    font-size: 1.2em;
} */


body {
    background-color: #998979;
    font-family: 'Roboto', sans-serif;
    color: #5d514a;
    font-size: 1.2em;
}

a, a:visited {
    color: #4f6673;
}

a:hover {
    color: #ccc;
}

h1, h2, h3, h4, h5 {
    font-family: 'Lato', sans-serif;
    /* color: #fff; */
}

ul, li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 960px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 5%;
}

#articles {

}

#notes {
    float: right;
    width: 30%;
}

textarea,
input {
    display: block;
    width: 100%;
    background-color: #FCF5C7;
}

input {
    height: 36px;
    font-size: 24px;
}

textarea {
    height: 200px;
    font-size: 18px;
}

.drop-shadow {
    background: #333;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1), 0 0 0px rgba(0, 0, 0, 0.1) inset;
    border-radius: 4px;
}

.welcome {
    display: block;
    font-size: 1.5em;
    margin-top: 24px;
    color: #523e2d;
}

#left small {
    margin-bottom: 24px;
}

/* Left Nav Styles */
#left nav {
    margin-bottom: 24px;
    margin-top: 24px;
}

.content-link, .content-link:visited {
    border-bottom: 1px solid #444444;
    display: block;
    padding: 3px 0;
    color: #7c5266;
    text-decoration: none;
    -webkit-transition-property: -webkit-padding-left; /* Safari */
    -webkit-transition-duration: .5s; /* Safari */
    transition-property: padding-left;
    transition-duration: .5s;
    padding-left: 5px;
    font-size: .9em;
}

.content-link:hover {
    text-decoration: none;
    /* border-bottom: 1px solid #7c5266; */
    padding-left: 10px;
}

.content-link.active {
    background: #fff;
    text-decoration: none;
    /* border-bottom: 1px solid #7c5266; */
    padding-left: 10px;
}


/* End Left Nav */




.card-wrap {
    background: #ac9d8e;
    /* border: 1px solid #b3a394; */
}

/* jQuery UI Select Menu */
fieldset {
    border: 0;
}

label {
    display: block;
    margin: 30px 0 0 0;
}

.overflow {
    height: 200px;
}
/* End select menu */


#left .card-wrap {
    border-top-left-radius: 10px;
}

#right .card-wrap {
    border-top-right-radius: 10px;
}


/* Articles List View */
.art {
    border: 1px solid #fff;
    padding: 15px;
    background: #f1f1f1;
    border-radius: 5px;
    margin-bottom: 20px;
}

.art img {
    width: 30%;
    float: left;
    margin-right: 30px;
}

body, .container {
    /* height: 100%; */
}



.top-bar {
    background: #000;
}

.testing {
    background: #333;
    color: #666;
}

.jumbotron-fluid {
    /* background: red; */
    /* background: url("spices.jpg"); */
    /* background: url("food-prep.jpg"); */
    background: url("carrots.jpg");

    height: 100%;
    background-size: cover;
    color: #fff;
}

.jumbotron {
    position: relative;
    width: 100%;
    height: 500px;
    padding: 0;
    font-family: "Cormorant SC", sans-serif;
    box-shadow: 0px 0px 10px 1px #0f1316 inset;
}

.jumbotron .container {

}

.jumbotron .caption {
    
}

.jumbotron .display-4 {
    font-size: 80px;
    font-weight: 800;
    position: relative;
    top: 130px;
}

.jumbotron .lead {
    font-size: 30px;
    position: relative;
    top: 130px;
}

.jumbotron .btn {
    position: relative;
    top: 150px;
}

.container-fluid {
    margin: 0 !important;
}



.sub-header {
    background: url("top-1.jpg");
    background-position-y: bottom;
    height: 100%;
    background-size: cover;
    color: #fff;
    position: relative;
    width: 100%;
    height: 100px;
    padding: 0;
    font-family: "Lato", sans-serif;
    box-shadow: 0px 0px 10px 1px #0f1316 inset;
    margin-bottom: 20px;
}

.sub-header h2 {
    width: 95%;
    margin: 0 auto 0;
    text-align: center;
    top: 30%;
    position: relative;
}

.navbar-dark {
    background: #405834 !important;
}

.btn-primary {
    /* background: #4f6673 !important; */
}

.footer {
    margin-top: 10px;
    text-align: center;
}

#progress-state {
    margin-top: 20px;
}

.card {
    width: 47%;
    float: left;
    margin: 10px 15px 0;
    /* border: 1px solid red; */
}

.card img {
    width: 100%;
}

h6 {
    font-size: 1.4rem;
    margin: 15px;
    width: 60%;
    float: left;
}

.articleWrapDiv {
    background: #fff;
    padding: 30px;
    border-radius: 4px;
    margin-bottom: 20px;
}